<head>
    <meta charset="utf-8">
    <title>BMI Calculator Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Template Google Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">
    <style>
        .purple-box {
            background-color: purple;
            color: white;
            padding: 10px;
            text-align: center;
        }
    </style>
    <!-- Template CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/circle.css" rel="stylesheet">
    <link href="/static/css/fm.revealator.jquery.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/preloader.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- CSS Skin File -->
    <link href="/static/css/skin.css" rel="stylesheet">

    <!-- <link rel="shortcut icon" href="images/favicon.png"> -->
    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">

    <!-- Live Style Switcher - demo only -->

    <link rel="stylesheet" type="text/css" href="/static/css/styleswitcher.css" />

    <!-- Modernizr JS File -->
    <script src="/static/js/modernizr.custom.js"></script>
    <style>
        .Underweight {
        width: 440px;
        height: 40px;
        background-color: rgb(201, 115, 175);
        }
      
        .Normal {
        width: 240px;
        height: 40px;
          background-color: rgb(71, 142, 205);
        }

        .Overweight{
        width: 400px;
        height: 40px;
            background-color: rgb(10, 160, 83)
        }

        .Obese{
        width: 200px;
        height: 40px;
            background-color: rgb(227, 223, 14);
        }

        .Morbidly {
        width: 560px;
        height: 40px;
            background-color: rgb(196, 48, 82);
        }
        .Incorrect{
        width: 600px;
        height: 40px;
            background-color: black;
        }
      </style>
      
    
</head>

<body class="blog">
    <!-- Live Style Switcher Starts - demo only -->
    <div id="switcher" class="">
        <div class="content-switcher">
            <h4>STYLE SWITCHER</h4>
            <ul>
                <li>
                    <a href="#" onclick="changeskin('purple');" title="purple" class="color"><img
                            src="/static/img/styleswitcher/purple.png" alt="purple" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('red');" title="red" class="color"><img
                            src="/static/img/styleswitcher/red.png" alt="red" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('blueviolet');" title="blueviolet" class="color"><img
                            src="/static/img/styleswitcher/blueviolet.png" alt="blueviolet" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('blue');" title="blue" class="color"><img
                            src="/static/img/styleswitcher/blue.png" alt="blue" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('goldenrod');" title="goldenrod" class="color"><img
                            src="/static/img/styleswitcher/goldenrod.png" alt="goldenrod" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('magenta');" title="magenta" class="color"><img
                            src="/static/img/styleswitcher/magenta.png" alt="magenta" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('yellowgreen');" title="yellowgreen" class="color"><img
                            src="/static/img/styleswitcher/yellowgreen.png" alt="yellowgreen" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('orange');" title="orange" class="color"><img
                            src="/static/img/styleswitcher/orange.png" alt="orange" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('green');" title="green" class="color"><img
                            src="/static/img/styleswitcher/green.png" alt="green" /></a>
                </li>
                <li>
                    <a href="#" onclick="changeskin('yellow');" title="yellow" class="color"><img
                            src="/static/img/styleswitcher/yellow.png" alt="yellow" /></a>
                </li>
            </ul>
            <div id="hideSwitcher">&times;</div>
        </div>
    </div>
    <div id="showSwitcher" class="styleSecondColor"><i class="fa fa-cog fa-spin"></i></div>
    <!-- Live Style Switcher Ends - demo only -->
    <!-- Header Starts -->
    <header class="header" id="navbar-collapse-toggle">
        <!-- Fixed Navigation Starts -->
        <ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1">
            <li class="icon-box">
                <i class="fa fa-home"></i>
                <a href="index.html">
                    <h2>Home</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-leaf"></i>
                <a href="about.html">
                    <h2>About</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-gamepad"></i>
                <a href="games.html">
                    <h2>Games</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-calculator"></i>
                <a href="Calorie-Counter.html">
                    <h2>Calorie_Counter</h2>
                </a>
            </li>
            <li class="icon-box active">
                <i class="fa fa-balance-scale"></i>
                <a href="bmi_final.html">
                    <h2>BMI_Calculator</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-clipboard"></i>
                <a href="blog.html">
                    <h2>Health_Blogs</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-link"></i>
                <a href="video.html">
                    <h2>Health_Links</h2>
                </a>
            </li>
            <!-- <li class="icon-box">
                <i class="fa fa-user"></i>
                <a href="meet_the_team.html">
                    <h2>Meet_The_Team</h2>
                </a>
            </li> -->

        </ul>
        <!-- Fixed Navigation Ends -->
        <!-- Mobile Menu Starts -->
        <nav role="navigation" class="d-block d-lg-none">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul class="list-unstyled" id="menu">
                    <li><a href="index.html"><i class="fa fa-home"></i><span>Home</span></a></li>
                    <li><a href="about.html"><i class="fa fa-pagelines"></i><span>About</span></a></li>
                    <li><a href="games.html"><i class="fa fa-gamepad"></i><span>Game</span></a></li>
                    <li><a href="Calorie-Counter.html"><i class="fa fa-calculator"></i><span>Calorie Counter</span></a>
                    </li>
                    <li class="active"><a href="bmi_final.html"><i class="fa fa-balance-scale"></i><span>BMI Calculator</span></a>
                    </li>
                    <li><a href="blog.html"><i class="fa fa-pencil"></i><span>Health Blogs</span></a></li>
                    <li><a href="video.html"><i class="fa fa-external-link"></i><span>Health Links</span></a></li>
                    <!-- <li><a href="meet_the_team.html"><i class="fa fa-user"></i><span>The Team</span></a> -->
                    </li>

                </ul>
            </div>
        </nav>
        <!-- Mobile Menu Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Page Title Starts -->
    <section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
        <h1>BMI Calculator <span>Result</span></h1>
        <span class="title-bg">FitBeat</span>
    </section>
    <!-- <div class="purple-box"> -->
        <h2>
            <p>
                <center>Your Body Mass Index is: <div class="purple-box"><span id="calories">{{bmi}}</div></span></center>
            </p>
            <h2>
                <center><div id="bmi_" class="{{bmi_}}">{{bmi__}}</div></center>
            </h2>            
            </h2>
        <!-- <center style="margin-top: -100px;"><img src="/static/img/bmipic.png" alt="Image" id="image" /></center> -->
    </div>
    <br>
    <h4><center>BMI is a good gauge of your risk 
        for diseases that can occur with more body fat.</p>
    
        <b>Under Weight</b> = Less than 18.6<br/>
        <b>Normal Weight</b> = 18.6 - 24.9<br/>
        <b>Over Weight</b> = Greater than 24.9<br/></p></center></h4>
    <style>
        .center-align {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }
    </style>
    <div class="center-align">
    
    <a href= bmi_final.html class="btn btn-contact text-center text-uppercase  wow bounce">Back to BMI Calculator</a>
    <!-- Template JS Files -->
    </div>
    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/styleswitcher.js"></script>
    <script src="/static/js/preloader.min.js"></script>
    <script src="/static/js/fm.revealator.jquery.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpGridGallery.js"></script>
    <script src="/static/js/jquery.hoverdir.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/custom.js"></script>

</body>

</html>
